/* :root{
  --f: #ddd;
} */
body {
  /* background: #fff; */
  background-color: #24315e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%231c2a56' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  /* background-color: ; */
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 30px;
  user-select: none;
}
/* body::selection {
  background-color: #f00;
  color: #fff;
} */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  width: 1180px;
  margin: auto;
}
.container-inner {
  width: 1100px;
  margin: auto;
}
.cv-body {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.9);
}
/* Preloader */
.container-preloader {
  align-items: center;
  cursor: none;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999999;
}
.container-preloader .animation-preloader {
  position: absolute;
  z-index: 999999999;
}
/* Spinner Loading */
.container-preloader .animation-preloader .spinner {
  animation: spinner 1s infinite linear;
  border-radius: 50%;
  /* border: 10px solid rgba(0, 0, 0, 0.2); */
  border: 10px solid #f9f9f9;
  border-top-color: #ffd83a; /* It is not in alphabetical order so that you do not overwrite it */
  height: 9em;
  margin: 0 auto 3.5em auto;
  width: 9em;
}
/* Loading text */
.container-preloader
  .animation-preloader
  .txt-loading
  .characters:nth-child(2):before {
  animation-delay: 0.2s;
}
.container-preloader
  .animation-preloader
  .txt-loading
  .characters:nth-child(3):before {
  animation-delay: 0.4s;
}
.container-preloader
  .animation-preloader
  .txt-loading
  .characters:nth-child(4):before {
  animation-delay: 0.6s;
}
.container-preloader
  .animation-preloader
  .txt-loading
  .characters:nth-child(5):before {
  animation-delay: 0.8s;
}
.container-preloader
  .animation-preloader
  .txt-loading
  .characters:nth-child(6):before {
  animation-delay: 1s;
}
.container-preloader
  .animation-preloader
  .txt-loading
  .characters:nth-child(7):before {
  animation-delay: 1.2s;
}
.container-preloader .loader-section {
  background-color: #ffffff;
  height: 100%;
  position: fixed;
  top: 0;
  width: calc(50% + 1px);
}
.container-preloader .loader-section.section-left {
  left: 0;
}
.container-preloader .loader-section.section-right {
  right: 0;
}
/* Fade effect on loading animation */
.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}
/* Curtain effect */
.loaded .loader-section.section-left {
  transform: translateX(-101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
}
.loaded .loader-section.section-right {
  transform: translateX(101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
}
/* Animation of the preloader */
@keyframes spinner {
  to {
    transform: rotateZ(360deg);
  }
}
/* Animation of letters loading from the preloader */
@keyframes characters {
  0%,
  75%,
  100% {
    opacity: 0;
    transform: rotateY(-90deg);
  }
  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
/* loader end */

.header-bg {
  padding: 10px 0px;
  position: fixed;
  width: 100%;
  z-index: 999999;
}
.header-bg .scrolled {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgb(255, 255, 255, 0.5);
  padding: 10px 20px;
  /* background: transparent !important; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 200ms linear;
  border-radius: 50px;
  width: 100%;
  margin: auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 130px;
}
header .logo img {
  width: 100%;
}
.menu ul {
  display: flex;
  align-items: center;
}
.menu li {
  margin: 0 30px;
  transition: 0.4s;
}
.menu li a {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  transition: 0.4s;
  padding-bottom: 40px;
}
.menu li:last-child {
  background: #24315e;
  border-radius: 30px;
  margin-left: 260px;
  margin-right: 0;
}
.menu li:last-child a {
  padding: 10px 20px;
  color: #fff;
  display: inline-block;
  /* transition: background 0.5s; */
}
.menu li:last-child:hover a {
  color: #fff;
}
.menu li:last-child:hover {
  background: #fea237;
  /* background: linear-gradient(45deg, #fea237 0%, #ffd83a 100%); */

  color: #000;
}
.menu li:hover a {
  color: #24315e;
}
.get-in-touch {
  position: relative;
}

.slider-bg {
  background-image: url(../images/main-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /* padding-top: 200px; */
}
.slider {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.slider .left-panel {
  width: 50%;
  margin-top: 150px;
}
.slider .left-panel h3 {
  font-size: 30px;
  color: #f9f9f9;
}
.slider .left-panel h1 {
  font-size: 50px;
  margin: 20px 0 6px;
  color: #24315e;
}
.slider .left-panel i {
  text-transform: uppercase;
  font-size: 16px;
  font-style: normal;
  position: relative;
}
.slider .left-panel i::after {
  content: "";
  background: #fea237;
  height: 5px;
  width: 100px;
  border-radius: 0 10px 10px 0;
  position: absolute;
  top: 7px;
  margin-left: 10px;
}
.slider .left-panel p {
  font-size: 18px;
  margin-top: 20px;
  /* text-transform: uppercase; */
}

.slider-left-text {
  height: 20px;
}

.slider .left-panel .cv-btn {
  background: linear-gradient(45deg, #fea237 0%, #ffd83a 100%);
  border-radius: 30px;
  font-size: 16px;
  color: #121212;
  font-weight: 600;
  margin-top: 30px;
  display: inline-block;
  padding: 10px 20px;
}
.slider .right-panel {
  width: 45%;
  margin-top: 50px;
  z-index: 1;
}
.slider .right-panel img {
  width: 100%;
}

.heading {
  text-align: center;
  padding-top: 200px;
  color: #fff;
}
.heading h2 {
  font-size: 40px;
  margin-bottom: 20px;
  position: relative;
}
.heading span {
  color: #fea237;
}
.heading h2::after {
  content: "";
  background: #fea237;
  height: 3px;
  width: 50px;
  border-radius: 0 10px 10px 0;
  position: absolute;
  top: 15px;
  margin-left: 10px;
}
.heading h2::before {
  content: "";
  background: #fea237;
  height: 3px;
  width: 50px;
  border-radius: 10px 0 0 10px;
  position: absolute;
  top: 15px;
  margin-left: -60px;
}
.career-obj p {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  width: 70%;
  margin: auto;
  color: #f9f9f9;
}
.projects {
  margin-top: 80px;
}
.projects .heading {
  margin-top: 80px;
  padding-top: 0;
}
.projects ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.projects li {
  width: 32%;
  padding: 30px 20px 20px;
  /* background: #121212; */
  /* border: 2px solid #394880; */
  border-radius: 20px;
  text-align: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
.projects li img {
  width: 200px;
  border-radius: 20px;
}
.projects li:hover {
  background: #121212;
}
.projects li h3 {
  font-size: 24px;
  color: #ffd83a;
  margin: 20px 0 10px;
}
.projects li p {
  font-size: 16px;
  color: #fff;
}
.projects li a {
  font-size: 16px;
  color: #ffd83a;
  margin-top: 30px;
  display: inline-block;
  transition: all 0.3s;
}
.projects li a:hover {
  color: #24315e;
}
.T-T-S-btn {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fea237;
  /* color: white; */
  border: none;
}
.T-T-S-btn img {
  -webkit-animation: mover 0.5s infinite alternate;
  animation: mover 0.5s infinite alternate;
  width: 60%;
  margin: auto;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

/* Laptop size back (laptop, tablet, cell phone) */
@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .container-inner {
    width: 100%;
    padding: 0 20px;
  }
  /* Preloader */
  /* Spinner Loading */
  .container-preloader .animation-preloader .spinner {
    height: 100px;
    width: 100px;
  }
  .header-bg {
    width: 100%;
    position: fixed;
  }
  header {
    width: 100%;
  }
  .menu {
    display: none;
  }
  .logo {
    width: 100px;
  }
  .logo img {
    width: 100%;
  }
  .slider {
    display: flex;
    flex-direction: column-reverse;
  }
  .slider-bg {
    height: auto;
    padding: 20px 0;
  }
  .slider .right-panel {
    width: 80%;
    /* margin-top: 50px; */
    z-index: 1;
    margin: 50px auto;
  }
  .slider .left-panel {
    width: 100%;
    margin-top: 10px;
  }
  .slider .left-panel h1 {
    font-size: 30px;
    margin: 10px 0 6px;
    line-height: 30px;
  }
  .slider .left-panel h3 {
    font-size: 24px;
  }
  .slider .left-panel p {
    font-size: 16px;
    margin-top: 10px;
    line-height: 24px;
  }
  .slider .left-panel .cv-btn {
    font-size: 14px;
    margin-top: 20px;
    padding: 6px 14px;
  }
  .heading {
    padding-top: 0px;
  }
  .heading h2 {
    font-size: 24px;
    margin-bottom: 10px;
    position: relative;
  }
  .career-obj p {
    font-size: 16px;
    font-weight: normal;
    width: 100%;
    margin: auto;
    text-align: justify;
  }
  .heading h2::after {
    width: 15px;
    margin-left: 5px;
  }
  .heading h2::before {
    width: 15px;
    margin-left: -20px;
  }
  .career-obj {
    padding-top: 50px;
  }
  .T-T-S-btn {
    right: 20px;
    width: 40px;
    height: 40px;
  }
  .projects {
    margin-top: 60px;
  }
  .projects ul {
    flex-direction: column;
    margin-top: 10px;
  }
  .projects .heading {
    margin-top: 40px;
    padding-top: 0;
  }
  .projects li {
    width: 100%;
    padding: 30px 20px 20px;
    margin-top: 20px;
  }
  .projects li img {
    width: 160px;
    border-radius: 15px;
  }
  .projects li h3 {
    font-size: 20px;
    margin: 10px 0 5px;
  }
  .projects li p {
    font-size: 14px;
    line-height: 18px;
  }
  .projects li a {
    font-size: 14px;
    margin-top: 20px;
  }
}
