html {
  scroll-behavior: smooth;
}

body {
  background: #02162b;
  padding: 10px;
  font-family: "Inter", sans-serif;
  line-height: normal;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 1340px;
  margin: auto;
}
.inner-container {
  width: 1240px;
  margin: auto;
}
header {
  background: #00283a;
  border-radius: 10px;
  padding: 10px 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  position: fixed;
  z-index: 9;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
}
header .logo {
  width: 160px;
}
header .logo img {
  width: 100%;
}
.menu ul {
  display: flex;
  align-items: center;
}
.menu li {
  margin: 0 20px;
  transition: all 0.4s ease-in-out;
}
.menu li a {
  color: #fff;
  transition: all 0.4s ease-in-out;
}
.menu li:hover a {
  color: #70ba65;
}
.menu li:last-child a {
  background: #70ba65;
  padding: 12px 30px;
  border-radius: 30px;
  margin-left: 100px;
}
.menu li:last-child:hover a {
  color: #fff;
}
.slider {
  background-image: linear-gradient(
      160deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.9)
    ),
    url(../images/slider.jpg);
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
  padding: 0 60px;
  border-radius: 0 0 30px 30px;
}

.my-card {
  background: #00283a;
  width: 25%;
  padding: 30px;
  border-radius: 10px;
  border-top: 5px solid #70ba65;
  border-bottom: 5px solid #70ba65;
  position: fixed;
  /* position: -webkit-sticky; */
  top: 150px;
  left: 120px;
  z-index: 0;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}
.my-card img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.my-card::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #70ba65;
  border: 2px solid #fff;
  top: 130px;
  right: 115px;
  z-index: 1;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
/* .my-card::before:hover {
  content: "I'm available for work";
} */
.my-card h3 {
  font-size: 18px;
  color: #fff;
  margin: 20px 0 10px;
}
.my-card h4 {
  font-size: 12px;
  color: #fff;
}
.my-card ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  border-top: 2px dotted rgba(255, 255, 255, 0.3);
  border-bottom: 2px dotted rgba(255, 255, 255, 0.3);
  padding: 30px 0;
}
.my-card li {
  margin: 0 10px;
}
.my-card li a {
  font-size: 16px;
  transition: all 0.4s ease-in-out;
  color: #fff;
}
.my-card li:hover a {
  color: #70ba65;
}
.my-card .details {
  display: unset;
  padding: 30px 0;
}
.my-card .details li {
  display: flex;
  justify-content: space-between !important;
  margin: 20px 0;
  color: #fff;
}
.my-card .details li span {
  font-size: 12px;
  font-weight: 900;
}
.my-card .details li i {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
}
.my-card .whatsapp,
.slider .right-panel .whatsapp {
  background: #70ba65;
  color: #fff;
  padding: 10px 30px;
  border-radius: 30px;
  margin-top: 30px;
  display: inline-block;
  font-size: 12px;
}
.slider .right-panel .whatsapp {
  font-size: 14px;
  margin-top: 0;
  padding: 12px 30px;
}
.slider .right-panel {
  width: 50%;
  position: absolute;
  top: 35%;
  left: 40%;
}
.slider .right-panel h4 {
  font-size: 12px;
  color: #fff;
}
.slider .right-panel h1 {
  font-size: 62px;
  text-transform: capitalize;
  font-weight: 900;
  color: #fff;
  margin: 20px 30% 30px 0;
}
.scroll-downs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
.mouse-scroll-btn {
  position: absolute;
  right: 0;
  bottom: 100px;
}
.mouse-scroll-btn .lable {
  transform: rotate(90deg);
  color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
.right-component {
  width: 65%;
  float: right;
}
.clear-fix {
  clear: both;
}
.features ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -50px;
}
.features li {
  width: 32%;
  background: #00283a;
  padding: 30px 50px;
  text-align: center;
  border-radius: 10px;
  border-top: 3px solid #70ba65;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}
.features li h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  border-bottom: 2px dotted rgba(255, 255, 255, 0.3);
  padding: 0px 0 20px;
}
.features li h3 span {
  color: #70ba65;
}
.features li p {
  padding-top: 20px;
  color: #fff;
  font-size: 12px;
  /* margin: 0 10%; */
}
@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  header {
    justify-content: center;
  }
  .menu {
    display: none;
  }
}
