body {
  background: #fff;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 30px;
  user-select: none;
}
/* body::selection {
  background-color: #f00;
  color: #fff;
} */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  width: 1200px;
  margin: auto;
}

/* Preloader */
.container-preloader {
  align-items: center;
  cursor: none;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999999;
}
.container-preloader .animation-preloader {
  position: absolute;
  z-index: 999999999;
}
/* Spinner Loading */
.container-preloader .animation-preloader .spinner {
  animation: spinner 1s infinite linear;
  border-radius: 50%;
  /* border: 10px solid rgba(0, 0, 0, 0.2); */
  border: 10px solid #f9f9f9;
  border-top-color: #ffd83a; /* It is not in alphabetical order so that you do not overwrite it */
  height: 9em;
  margin: 0 auto 3.5em auto;
  width: 9em;
}
/* Loading text */
.container-preloader
  .animation-preloader
  .txt-loading
  .characters:nth-child(2):before {
  animation-delay: 0.2s;
}
.container-preloader
  .animation-preloader
  .txt-loading
  .characters:nth-child(3):before {
  animation-delay: 0.4s;
}
.container-preloader
  .animation-preloader
  .txt-loading
  .characters:nth-child(4):before {
  animation-delay: 0.6s;
}
.container-preloader
  .animation-preloader
  .txt-loading
  .characters:nth-child(5):before {
  animation-delay: 0.8s;
}
.container-preloader
  .animation-preloader
  .txt-loading
  .characters:nth-child(6):before {
  animation-delay: 1s;
}
.container-preloader
  .animation-preloader
  .txt-loading
  .characters:nth-child(7):before {
  animation-delay: 1.2s;
}
.container-preloader .loader-section {
  background-color: #ffffff;
  height: 100%;
  position: fixed;
  top: 0;
  width: calc(50% + 1px);
}
.container-preloader .loader-section.section-left {
  left: 0;
}
.container-preloader .loader-section.section-right {
  right: 0;
}
/* Fade effect on loading animation */
.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}
/* Curtain effect */
.loaded .loader-section.section-left {
  transform: translateX(-101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
}
.loaded .loader-section.section-right {
  transform: translateX(101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
}
/* Animation of the preloader */
@keyframes spinner {
  to {
    transform: rotateZ(360deg);
  }
}
/* Animation of letters loading from the preloader */
@keyframes characters {
  0%,
  75%,
  100% {
    opacity: 0;
    transform: rotateY(-90deg);
  }
  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
.origin {
  text-decoration: none;
  font-size: 45px;
}
/* loader end */

.header-bg {
  background: transparent;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
  /* border-radius: 0px 0px 50px 50px; */
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 999999;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 130px;
}
header .logo img {
  width: 100%;
}
.menu ul {
  display: flex;
  align-items: center;
}
.menu li {
  margin: 0 30px;
  transition: 0.4s;
}
.menu li a {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  transition: 0.4s;
  padding-bottom: 40px;
}
.menu li:last-child {
  background: #24315e;
  border-radius: 30px;
  margin-left: 260px;
}
.menu li:last-child a {
  padding: 10px 20px;
  color: #fff;
  display: inline-block;
}
.menu li:last-child:hover a {
  color: #fff;
}
.menu li:last-child:hover {
  background: #ffd83a;
  color: #000;
}
.menu li:hover a {
  color: #24315e;
}
.get-in-touch {
  position: relative;
}
.slider-bg {
  background-image: url(../images/main-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /* padding-top: 200px; */
}
.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider .left-panel {
  width: 50%;
}
.slider .left-panel h3 {
  font-size: 30px;
  color: #f9f9f9;
}
.slider .left-panel h1 {
  font-size: 50px;
  margin: 20px 0 10px;
  color: #24315e;
}
.slider .left-panel p{
  font-size: 18px;
  text-transform: uppercase;

}
.slider .right-panel {
  width: 45%;
}
/* Laptop size back (laptop, tablet, cell phone) */
@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  /* Preloader */
  /* Spinner Loading */
  .container-preloader .animation-preloader .spinner {
    height: 100px;
    width: 100px;
  }

  .header-bg {
    width: 100%;
    position: fixed;
  }
  header {
    width: 100%;
  }
  .menu {
    display: none;
  }
  .logo {
    width: 100px;
  }
  .logo img {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  /* Prelaoder */
  /* Spinner Loading */
  /* .container-preloader .animation-preloader .spinner {
    height: 7em;
    width: 7em;
  } */
}
